/* NAVBAR */
.navbar {
	background-color: #1b7;
	padding: 0.5em 1em;
	font-family: Lato;
	border-radius: 0;
	border-bottom: 0.5em solid #4ea;
	font-size: 1.2em;
}

.navbar>ul>li>a {
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #1b7;
	color: #eee;
}

a.title {
	font-size: 2em;
	font-weight: bolder;
}

/* END NAVBAR */

li>a {
	color: #4E7399;
}

li>a:hover {
	color: #4E7399;
}

.submit-form, .edit-form {
	font-family: Lato;
	padding: 0px 0px 0px 0px;
	width: 75%;
	margin: 50px auto;
	background-color: #f5f5f5;
	font-size: 16px;
	border: 1px solid #e1e1e1;
}

input.form-control {
	border-radius: 1px;
	box-shadow: none;
}

.edit-btn {
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
	font-weight: 300;
	padding: 10px 35px;
	/*background-color: #4E7399;*/
	background-color: #1b7;
	/*border-color: #4E7399;*/
	border-color: #1b7;
	transition: 0.25s;
}

.edit-btn:hover {
	color: #fff;
	/*background-color: #41607F;*/
	background-color: #11aa6d;
	/*border-color: #41607F;*/
	border-color: #11aa6d;
}

.edit-btn:active {
	color: #fff;
	/*background-color: #4E7399;*/
	background-color: #1b7;
	/*border-color: #4E7399;*/
	border-color: #1b7;
}

.edit-btn:focus {
	color: #fff;
}

.profile-title {
	font-size: 20px;
	padding: 10px 20px;
	border-bottom: 1px solid #e1e1e1;
	background-color: #f0f0f0;
}

.profile {
	width: 75%;
	margin: 0px auto;
	font-size: 16px;
	border: 1px solid #e1e1e1;
}

.row {
	margin: 0px;
	padding: 2px 0px;
	transition: 0.25s;
}

.row:hover {
	background-color: #f0f0f0;
}

.profile>hr {
	margin: 0px;
	border-top: 1px solid #e1e1e1;
}

.item-label {
	font-weight: normal;
	text-align: right;
	padding: 10px 20px;
}

.item-value {
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 200;
	text-align: left;
}

@media all and (max-width: 959px) and (min-width: 320px) {
	div.item-label, div.item-value, div.profile-title { text-align: center; }
	.profile { width: 90%; }
}

.edit-profile {
	margin: 15px;
	text-align: center;
}

