html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background:url('../img/board.png') no-repeat;
	background-position: center;
	background-size: 700px 450px;
}

header {
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;

}

.heading {
    font-size: 5em;
    color:#1B7;
    color:#4E7399;
    font-family: Lato;
    font-weight:bold;
    margin-bottom: 10px;
}

.subheading {
	margin-bottom: 40px;
	font-weight: 100;
	color:#888;
	text-transform:uppercase;
	font-size:1em;
	letter-spacing:0.2em;
}

a {
	text-decoration: none;
}

.links {
	margin: 25px 0px;
}

span.link>a, input.btn {
	color: #4E7399;
	border: 2px solid #4E7399;
	padding: 15px 50px;
	font-size: 1em;
	transition: 0.25s;
}

span.link>a:hover, input.btn:hover {
	color: #F3F3F3;
	background-color: #4E7399;
}

span.link + span.link {
	margin-left: 10px;
}