
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 120px;
    height: 120px;
    background: #ccc;
    border: 3px solid #337ab7;
    text-align: center;
    position: absolute;
}


.background {
    width: 725px;
    height: 2000px;
    background: url('http://i.imgur.com/GySvQ.png');
}