html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

header {
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.login-form	{
	background-color: rgba(240, 240, 240, 0.68);
	padding: 50px 50px;
	border: 1px rgba(240, 240, 240, 1) solid;
}

.heading {
	font-size: 2em;
	margin-bottom: 20px;
}

.form-label {
	margin-top: 10px;
}

.link {
	margin-bottom: 10px;
}

input.form-control {
	border-radius: 0;
	border: 1px #ddd solid;
	box-shadow: none;
}

.btn {
	padding: 0px;
}

input.btn.btn-success {
	border: none;
	border-radius: 0;
	padding: 10px 30px;
	background-color: rgba(255,255,255,0);
	color: #4E7399;
	border: 2px solid #4E7399;
	transition: 0.25s;
}

input.btn.btn-success:hover {
	background-color: #4E7399;
	color: #fff;
}

a {
	color: #4E7399;
}